<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/home">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/home">{{title}}</span>
  <span class="example-spacer"></span>
  <button *ngIf="!etat"  mat-raised-button color="primary" routerLink="/login">
    se connecter
  </button>
  <button *ngIf="etat"  mat-raised-button color="primary" routerLink="/home"  (click)="login()">
    se deconnecter
  </button>
</mat-toolbar>

<div *ngIf="etat">
<mat-card class="example-card">

  <form (submit)="onSubmit(); assignmentForm.reset()" ngForm #assignmentForm class="form">
    <mat-form-field>
      <mat-label>Nom du devoir à ajouter</mat-label>

      <input matInput required [(ngModel)]="nomDevoir" name="nom">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nom de l'auteur</mat-label>
      <input matInput required [(ngModel)]="nomAuteur" name="nom">
    </mat-form-field>

    <mat-form-field hintLabel="Note /20" appearance="fill">
      <mat-label>Enter some input</mat-label>
      <input required matInput #input max="20" [(ngModel)]="note" name="noteSur">
    </mat-form-field>

    <h4>native html select</h4>
    <mat-form-field appearance="fill">
      <mat-label>Choose an option</mat-label>
      <select required matNativeControl [(ngModel)]="nomMatiere" name="matiere">
        <option value="" selected></option>
        <option value="Basket">Basket</option>
        <option value="BD">BD</option>
        <option value="Football">Football</option>
        <option value="Technologie">Technologie</option>
      </select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Date de rendu</mat-label>
      <input matInput required [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label>Remarque</mat-label>
      <textarea matInput [(ngModel)]="remarque" name="rmq" placeholder="Laissez une remarque"></textarea>
    </mat-form-field>

      <button mat-stroked-button color="primary"  [disabled]="((!nomDevoir)|| (!nomAuteur)|| (!nomMatiere) ||(!dateDeRendu))">
        Ajouter un devoir
      </button>
  

  </form>

</mat-card>
</div>