<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/home">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/home">{{title}}</span>
  <span class="example-spacer"></span>
  <button *ngIf="!etat" mat-raised-button color="primary" routerLink="/login">
    se connecter
  </button>
  <button *ngIf="etat" mat-raised-button color="primary" routerLink="/home" (click)="login()">
    se deconnecter
  </button>
</mat-toolbar>


<mat-card class="example-card">
  <div class="container" *ngIf="assignment">
    <h2>Edition de l'assignment {{assignment.nom}}</h2>
    <form ngForm class="form" #formupdate (submit)="onSaveAssignment(); formupdate.reset(); ">
      <mat-form-field>
        <input matInput placeholder="Edition du nom" [(ngModel)]="nomAssignment" name="assignment-name">
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Edition de la date" [(ngModel)]="dateDeRendu" name="date">
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field hintLabel="Note /20" appearance="fill">
        <mat-label>Enter some input</mat-label>
        <input required matInput #input max="20" [(ngModel)]="note" name="noteSur">
      </mat-form-field>
      <mat-form-field appearance="fill">

        <mat-label>Choose an option</mat-label>
        <select required matNativeControl [(ngModel)]="nomMatiere" name="matiere">
          <option value="" selected></option>
          <option value="Grails">Grails</option>
          <option value="BD">BD</option>
          <option value="Football">Football</option>
          <option value="Technologie">Technologie</option>
        </select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Remarque</mat-label>
        <textarea matInput [(ngModel)]="remarque" name="rmq" placeholder="Laissez une remarque"></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="((!nomAssignment)||(!dateDeRendu))">
        Sauver
      </button>
    </form>
  </div>
</mat-card>
